* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #000;
}

#nav {
    height: 140px;
    width: 100%;
    /*background-color: rgb(16, 15, 15);*/
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;

}

#nav-prt2 {
    display: flex;
    /* background-color: blue; */
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

#nav>i {
    font-weight: 600;
    margin-right: 5px;
}

#nav h5 {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

#nav img {
    height: 70px;
}

#line {
    width: 80px;
    height: 2px;
    background-color: rgb(158, 40, 40);
}

#content {
   height: calc(100% - 140px);
   width:  100%;
   display: flex;
   position:relative;
   justify-content: space-between;
}

#left {
    width:  36%;
    height: 100%;
     padding: 80px 80px;
    
}

#right {
    width: 36%;
    height: 100%;
    padding:100px 140px;
}

#center {
    width: 26%;
    height: 100%;
    
    padding-top: 40px;
    
}
#left h1{
    font-size: 55px;
    line-height: 49px;
    font-weight: 600;
   margin-bottom: 36px;
    
}

#left h1 span{
     color: red;
    font-weight: 400;
}

#left p{
    margin-bottom: 30px;
    font-size: 10px;
    width: 60%;
    line-height: 10px;
}

#left button{
background-color: red;
padding: 10px 20px;
border-radius: 27px;
font-size: 16px;
display:flex;
align-items: center;
font-weight: 700;
}

#left button i{
    margin-right: 10px;
}
#center-bg{
    background-color: blue;
    width: 95%;
    height: 97%;
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 450%;
    background-position: 30% 50%;
    filter: blur(2px);

   
}

#content>img{
    height: 100%;
    position: absolute;
    left: 48%;
    z-index: 99;
    transform: translate(-50%,0);
}

#right-elems{
   
    width: 298px;
}
#elem1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
   opacity: 0.6;
    border-bottom: 1px solid #fff;
}
#elem1 h1{
    font-size: 24px;
    font-weight: 600;
}

#elem1 i{
    font-size: 24px;
}

#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}

#elem2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}
